* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------------- PRODUCTS PAGE -------------------------*/
.flex-products {
    width: 100vw;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.card {
    width: 33.33%;
    height: 30%;
}