* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------------- PRODUCTS PAGE -------------------------*/
.flex-products {
    width: 100vw;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.products-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*----------------------- ABOUT US PAGE -------------------------*/
.about-us-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.team-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.about-us-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.team-member {
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-member img {
    width: 700px;
}
.team-member-bio {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 100px;
}
.team-member-bio p {
    width: 40vw;
}
/*----------------------- CONTACTS PAGE -------------------------*/
.contacts-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contacts-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
/*----------------------- BLOG PAGE -------------------------*/


