@media screen and (min-width: 480px) and (max-width: 1280px) {
.flex {
    flex-wrap: wrap;
}
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
    iframe {
        width: 100%;
        height: 50vh;
    }
}