.main-box {
    padding: 20px;
    font-size: 50px;
    color: white;
}
.box {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.section-1 {
    height: 50vh;
    margin-bottom: 50px;
}
    .section-2-main {
        display: flex;
    }

.section-2-main {
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-2 {
    height: 100%;
    width: 30%;
    margin-bottom: 50px;
}
.section-3 {
    height: 70vh;
}