* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    padding: 10px 10px;
}
p {
    font-size: 50px;
}
header {
    height: 33vh;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.flex {
    height: 67vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.b {
    width: 67vw;
    height: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.c {
    width: 33vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

